button.start{
    font-weight: bold;
    padding: 5px 10px;
    color: red;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid red;
    outline: none;
    transition: 0.2s;
    width: 200px;
}

button.add{
    font-weight: bold;
    padding: 5px 10px;
    color: gray;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    width: 30px;
}

button.users{
    font-weight: bold;
    padding: 5px 10px;
    color: gray;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    width: 30px;
}

.head{
    padding: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid gray;
}

.title{
    width: 20%;
}

.btn{
    width: 79%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 10px 0 10px;
}

.sidebar{
    width: 15%;
}

.exch{
    width: 85%;
    /* border-left: 1px solid gray; */
}


.exch-title{
    display: flex;
}
.img{
    display: flex;
    border-right: 1px solid gray;
    padding: 0 10px 0 10px;
}

.img img{
    width: 30px;
    border-radius: 50%;
}

.img label{
    justify-content: center;
}
.add-title{
    padding: 10px 10px 10px 10px;
    align-items: center;
    width: 950px;
}

.btn-group{
    text-align: right;
    padding: 10px 0 10px 0;
}

.exch-meet{
    text-align: center;

    background-color: black;
}

.exch-meet img{
    padding-top: 10px;
    width: 90px;
    border-radius: 50%;
}

.meet-feat{
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meet-feat label{
    margin: 5px;
    padding: 20px 10px 10px 10px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    align-items: center;
    background-color: gray;
    color: #ffffff;
}

input{
    outline: none;
    border: none;
}
  
.footer-chat {
    /* width: calc(65% - 66px); */
    width: 1190px;
    height: 80px;
    display:flex;
    align-items: center;
    position:absolute;
    bottom: 0;
    background-color: transparent;
    border-top: 2px solid #EEE;
    
}
  
.chat .footer-chat .icon {
    margin-left: 30px;
    color:#C0C0C0;
    font-size: 14pt;
}
  
.chat .footer-chat .send {
    color:#fff;
    background-color: #4f6ebd;
    position: absolute;
    right: 50px;
    padding: 12px 12px 12px 12px;
    border-radius: 50px;
    font-size: 14pt;
}
  
.chat .footer-chat .name {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-size: 13pt;
    color:#515151;
}
  
.chat .footer-chat .right {
    position: absolute;
    right: 40px;
}
  
.write-message {
    border:none !important;
    width:1100px;
    height: 50px;
    margin-left: 20px;
    padding: 10px;
}
  
.footer-chat *::-webkit-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
}

.footer-chat input *:-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
}

.footer-chat input *::-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
    margin-left:5px;
}

.footer-chat input *:-ms-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
}
  
.clickable {
    cursor: pointer;
    padding: 5px;
}