@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 10px;
  color: #000;
  background: none;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.table {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 10px;
  color: #000;
  background: #0864f8;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
  width: 100px;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}


body {
  width: 100%;
}

/* Trang chủ */

#logo {
  text-align: center;
}

#logo img {
  width: 200px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #d9f3f1;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); */
  z-index: 999;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #0864f8;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #0864f8;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;

}

#close {
  display: none;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #DBF4F6;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #F6DBEA;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: #EAF5D8;
}

#feature .fe-box:nth-child(4) h6 {
  background-color: #DEEEF9;
}

#feature .fe-box:nth-child(5) h6 {
  background-color: #E3DDF4;
}

#feature .fe-box:nth-child(6) h6 {
  background-color: #F6E5DB;
}

/* Nhân sự */
.tab-wrapper ul{
  overflow: hidden;
  background: #fbfbfb;
  margin: 0px;
  padding: 0px;
}
.tab-wrapper ul li{
  float: left;
  list-style: none;
  padding: 10px 20px;
  background: #66a5c9;
  border-radius: 10px 10px 0px 0px;
  margin-right: 5px;
  margin-top: 5px;
}
.tab-wrapper ul li.active{
  background: #5cdaeb;
}
.tab-wrapper ul li.active a{
  color: #000;
}
.tab-wrapper ul li a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

#table {
  padding-top: 10px;
  overflow-x: auto;
}

#table table {
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#table table td:nth-child(1) {
  width: 100px;
  text-align: center;
}

#table table td:nth-child(2) {
  width: 150px;
  text-align: center;
}
#table table td:nth-child(3) {
  width: 250px;
  text-align: center;
}

#table table td:nth-child(4),
#table table td:nth-child(5),
#table table td:nth-child(6),
#table table td:nth-child(7),
#table table td:nth-child(8) {
  width: 150px;
  text-align: center;
}

#table table thead {
  border: 1px solid #e2e9e1;
  height: 40px;
  border-left: none;
  border-right: none;
}

#table table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}

#table table tbody tr td {
  padding-top: 15px;
}

#table table tbody td {
  font-size: 13px;
}

/* Nhân viên */

#profile {
  display: flex;
  justify-content: space-between;
}
#profile .profile-details {
  background-color: #fbfbfb;
  width: 15%;
}

#profile .profile-details .company {
  text-align: center;
}

#profile .profile-details .people {
  text-align:left;
}

#profile .profile-details .people .details{
  display: flex;
  padding: 10px 0 10px 0;
}

#profile .profile-details .people .details h5{
  padding:0 0 0 15px;
}

#profile .profile-details .card {
  text-align: center;
}

#profile .profile-details .card img {
  text-align: center;
  border: #fbfbfb 1px solid;
  border-radius: 50%;
}

#profile .info-details {
  background-color: #fbfbfb;
  width: 84.5%;
}

#profile .info-details .f-grid .f-grid-col{
  display: flex;
  flex-direction: column;
}

#profile .info-details .f-grid input,
#profile .info-details .f-grid select,
#profile .info-details .row input,
#profile .info-details .row select {
  width: 250px;
  height: 25px;
  border-radius: 3px;
  border: 1px solid;
}

.f-grid {
  display: flex;
  justify-content: space-between;
  margin-left: -1rem;
  flex-flow: row wrap;
}

.f-grid-col {
  flex: 1 0;
  background-color: #fbfbfb;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.row{
  text-align: end;
}

.row button{
  text-align: start;
}

.row button:hover{
  background-color: #088178;
  color: #fff;
}

.row i{
  padding:0 2px 0 0;
}

.details{
  padding: 5px;
}

.normal:hover{
  color: #0864f8;
}
